# Web & DB
fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
psycopg2-binary==2.9.9

# Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# ML Core - CPU ONLY
# We use the direct URL trick to ensure it doesn't pull the 2GB CUDA version
--index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
torchaudio==2.2.2

# Speech & Audio
speechbrain==1.0.1
huggingface_hub==0.23.0
numpy<2.0.0
scipy==1.11.4
soundfile==0.12.1
pydub==0.25.1
imageio-ffmpeg==0.5.1

# Validation
pydantic[email]==2.7.1
pydantic-settings==2.2.1
python-dotenv==1.0.1
